<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
  <strong>Address:</strong>
  <b>Type:</b><%= user.address.type%><br>
  <b>upazilla:</b><%= user.address.upazilla %><br>
  <b>Postcode:</b><%= user.address.postcode%><br>
  <b>Address:</b><%= user.address.address%><br>
  

  </p>



</div>
