<div id="<%= dom_id address %>">
  <p>
    <strong>Type:</strong>
    <%= address.type %>
  </p>

  <p>
    <strong>Upazilla:</strong>
    <%= address.upazilla %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= address.postcode %>
  </p>

  <p>
    <strong>Address-line:</strong>
    <%= address.address-line %>
  </p>

</div>
