<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label :user_id_id %><br>
  <%= form.collection_select :user_id, User.all, :id, :name %>

</div> <br/>


  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.select :type, ["BillingAddress", "ShippingAddress"] %>
  </div>  <br/>


  <div>
    <%= form.label :upazilla, style: "display: block" %>
    <%= form.text_field :upazilla %>
  </div>

  <div>
    <%= form.label :postcode, style: "display: block" %>
    <%= form.text_field :postcode %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

 
  <br/>

  <div>
    <%= form.submit %>
  </div>
<% end %>
