<div class="row">
  <div class="col">
    <h3>All Categories</h3>
  </div>
</div>
<div class="row">
  <div class="col text-end">
    <%# <a href="http://localhost:3000/categories/new">
      <button type="button" class="btn btn-primary">Add New Category</button>
    </a> %>

    <%= link_to new_category_url do %>
      <button type="button" class="btn btn-primary">Add New Category</button>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name(super manual)</th>
          <th scope="col">Name(semi manual)</th>
          <th scope="col">Name(automatic)</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td> <a href="http://localhost:3000/categories/<%= category.id %>"><%= category.name %></a> </td>
            <td> <%= link_to(category.name, category_url(id: category.id)) %> </td>
            <td> <%= link_to(category.name, category) %> </td>
            <td><%= category.category&.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
