<div class="row">
  <div class ="col">
    <h3>Create New Category</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_with model: @category do |form| %>
      <div>
        <%= form.label :name, class: "form-label" %><br>
        <%= form.text_field :name, placeholder: "Category Name", class: "form-control" %>
          <% @category.errors.full_messages_for(:name).each do |message| %>
            <div class="text-bg-danger">
              <%= message %>
            </div>
          <% end %>
      </div>
      <div class="mt-2"> 
        <%= form.label :category_id, "Category ID", class: "form-label" %>
        <%= form.select :category_id, Category.parent_categories.map {
          |c| [c.name, c.id]
        }, {}, class: "form-select"  %>
        <% @category.errors.full_messages_for(:category_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mt-2">
        <%= form.submit "Create", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>