<div class="row mt-4">
  <div class="col-3"></div>
  <div class="col-6">
    <%# <%= render "csv_import" %>
    <h3>Create new Product</h3>
      <div class="mt-3 container-fluid">
        <%= form_with model: @product do |form| %>
          <div class="row mb-3">
              <%= form.label :name, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
            <%= form.text_field :name, placeholder: "Product Name", class: "form-control" %>
            </div>
          </div>
          <div class="row mb-3">
              <%= form.label :description, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
            <%= form.text_field :details, placeholder: "Details", class: "form-control" %>
            </div>
          </div>
          <div class="row mb-3">
              <%= form.label :price, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
            <%= form.text_field :price, placeholder: "Price", class: "form-control" %>
            </div>
          </div>
          <div class="row mb-3">
              <%= form.label :category_id, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
            <%= form.select :category_id, Category.where(category_id: present?).map { |c| [c.name, c.id] }, class: "form-control form-select" %>
            </div>
          </div>
          <br>


          <%= form.fields_for :variants do |a| %>
          <div class="row mb-3">
              <%= a.label :color, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
            <%= a.text_field :color, placeholder: "Product color", class: "form-control" %>
            </div>
          </div>
          <div class="row mb-3">
              <%= a.label :size, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
Move search into a service class
￼Sunday, October 15th
￼
￼
￼Tarek Hossain
  1:03 PM
Class: Into into API
Class Tutorial Link:
ToDo:
Do a fresh branch from "Master"
Add Product, User and Variant Model
Add Authentication
Incorporate Search into a scope
Move search into a service class
Add a new branch for "Authentication" do Bcrypt (Secure password)
￼
￼1 reply
1 month agoView thread
￼Tuesday, October 17th
￼
￼
￼Faruk Hossain
  4:19 PM
REST api serializer
https://github.com/rails-api/active_model_serializers
https://github.com/jsonapi-serializer/jsonapi-serializer
￼GitHub
GitHub - rails-api/active_model_serializers: ActiveModel::Serializer implementation and Rails hooks
ActiveModel::Serializer implementation and Rails hooks - GitHub - rails-api/active_model_serializers: ActiveModel::Serializer implementation and Rails hooks (47 kB)￼
https://github.com/rails-api/active_model_serializers
￼
￼GitHub
GitHub - jsonapi-serializer/jsonapi-serializer: A fast JSON:API serializer for Ruby (fork of Netflix/fast_jsonapi)
A fast JSON:API serializer for Ruby (fork of Netflix/fast_jsonapi) - GitHub - jsonapi-serializer/jsonapi-serializer: A fast JSON:API serializer for Ruby (fork of Netflix/fast_jsonapi) (57 kB)￼
https://github.com/jsonapi-serializer/jsonapi-serializer
￼
￼Monday, November 6th
￼
￼
￼Faruk Hossain
  1:48 PM
https://gist.github.com/iscott/4618dc0c85acb3daa5c26641d8be8d0d
￼
￼
￼Faruk Hossain
  3:48 PM
  skip_before_action :authenticate_user!
￼
￼
￼Faruk Hossain
  4:15 PM
https://github.com/ryanb/letter_opener
￼GitHub
GitHub - ryanb/letter_opener: Preview mail in the browser instead of sending.
Preview mail in the browser instead of sending. Contribute to ryanb/letter_opener development by creating an account on GitHub. (86 kB)￼
https://github.com/ryanb/letter_opener
￼
￼Tuesday, November 7th
￼
￼
￼Tarek Hossain
  11:56 AM
https://github.com/heartcombo/devise#readme
￼Thursday, November 9th
￼
￼
￼Faruk Hossain
  4:09 PM
Home Work
Add inclusion validation rules for roles field
Configure annotate to be under the model definition
Configure rails generator to avoid generating unnecessary files
Complete Role update controller, views
￼Today
￼
￼
￼Tarek Hossain
  6:21 PM
Homework:
Create tutorial for nested form submission (product/variant)
￼
￼
￼Faruk Hossain
  6:27 PM
Form Object Tutorials
https://www.mintbit.com/blog/understanding-the-differences-traditional-forms-vs-form-objects-in-rails
https://jaryl.medium.com/disciplined-rails-form-object-techniques-patterns-part-1-23cfffcaf429
https://dev.to/drbragg/rails-design-patterns-form-object-4d47
https://www.youtube.com/watch?v=SvL_aZt3zyU
￼Mintbit
Understanding the Differences: Traditional Forms vs. Form Objects in Rails
In Ruby on Rails, handling complex forms efficiently and maintaining clean and organized code is crucial. This is where Form Objects come into play. Let’s explore the concept of Form Objects and highlight the key differences between using a Form Object and a traditional form approach. Let’s dive in!
Jul 3rd
￼Medium
Disciplined Rails: Form Object Techniques & Patterns — Part 1
Ground rules for form objects
Reading time
11 min read
Jun 14th, 2021 (149 kB)￼
https://jaryl.medium.com/disciplined-rails-form-object-techniques-patterns-part-1-23cfffcaf429
￼
￼DEV Community
Rails Design Patterns: Form Object
Form Object Pattern There are a number of design patterns that will help improve your Rail... (24 kB)￼
https://dev.to/drbragg/rails-design-patterns-form-object-4d47
￼
￼YouTube | Railscasts Reloaded
Ruby on Rails - Railscasts PRO #416 Form Objects (pro) ￼
￼
￼
￼
￼
￼
￼
￼
￼
￼
￼

            <%= a.text_field :size, placeholder: "Small/Medium/Large", class: "form-control" %>
            </div>
          </div>
          <div class="row mb-3">
              <%= a.label :sku, class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
            <%= a.text_field :sku, placeholder: "redsm*****", class: "form-control" %>
            </div>
          </div>
          <br>
       <% end %>





          <div>
            <%= form.submit "Create", class:"btn btn-primary" %>
          </div>
      <% end %>
  <div class="col-3"></div>
</div>